@import '../../../variables.scss';

.des-promotion {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: $border-radius-small;

    &:hover,
    &:active {
        border-color: $info-color
    }

    &:focus {
        outline: 1px solid $info-color
    }
}

.applyFor {
    width: 100%;
    cursor: pointer;
}

.custom-toggle-switch .form-check-input:checked {
    background-color: #ff4d4d;
    /* Màu đỏ khi bật */
    border-color: #ff4d4d;
    /* Màu biên công tắc khi bật */
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
}

.custom-toggle-switch .form-check-input:checked::before {
    background-color: #fff;
    /* Màu trắng cho nút trượt khi bật */
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
}

/* Thay đổi màu công tắc khi tắt */
.custom-toggle-switch .form-check-input {
    background-color: #e0e0e0;
    /* Màu xám khi tắt */
    border-color: #b0b0b0;
    /* Màu biên công tắc khi tắt */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Bóng nhẹ khi tắt */
}

.date-promotion {
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #373333;
    padding: 10px;
    cursor: pointer;
    display: flex;
    &:focus {
        border: 0.1px solid rgb(239, 94, 27);
        outline: none;
    }
}
@media(max-width:768px){
    .date-promotion{
        width: 300px;
    }
}