.login-container {
  height: 100vh;
  background-image: url('../../../../assets/background/auth-background.jpg');
  /* Màu nền giống Shopee */
}

.login-card {
  max-width: 400px;
  width: 100%;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
  position: relative;


}

.login-card1 {
  max-width: 400px;
  width: 100%;
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
  // background-color: rgb(75, 175, 214);



}

.login-card img {
  width: 80px;
}

.btn-social {
  width: 200px;
}