.login-container {
    height: 100vh;
    background-color: #9ae7e5; /* Màu nền giống Shopee */
  }
  
  .login-card {
    max-width: 400px;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;

    
  }
  .login-card1 {
    max-width: 400px;
    width: 100%;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    // background-color: rgb(75, 175, 214);

    
    
  }
  .login-card1 img {
    // background-color: #dfdadc;
  }
  
  .login-card img {
    width: 80px;
  }
.btn-social{
  width: 200px;
}  