@import '../../../../variables.scss';
.custom-table-purchase>:not(caption)>*>* {
    padding: 0;
    &:nth-child(1){
        width: 25%;
    }
    &:nth-child(2) {
        width: 25%;
    }

    &:nth-child(3){
        width: 25%;
    }
    &:nth-child(4) {
        width: 15%;
    }
    &:nth-child(5){
        width: 5%;
    }
}
.custom-table-purchase-ss>:not(caption)>*>* {
    padding: 0;
    &:nth-child(1){
        width: 20%;
    }
    &:nth-child(2) {
        width: 20%;
    }

    &:nth-child(3){
        width: 25%;
    }
    &:nth-child(4) {
        width: 15%;
    }
    &:nth-child(5){
        width: 15%;
    }
    &:nth-child(6){
        width: 5%;
    }
}
.custom-table-purchase-ss thead tr th {
    vertical-align: middle;
    text-align: center;
    height: 50px;
    background-color: #a6c9cf;
}
.custom-table-purchase-ss tbody tr  td {
    vertical-align: middle;
    text-align: center; 
    // background-color: #a6c9cf;
    font-size: $font-normal;
    background-color: #ffffff;  
}
.custom-table-purchase thead tr th {
    vertical-align: middle;
    text-align: center;
    height: 50px;
    background-color: #a6c9cf;
}
.custom-table-purchase tbody tr  td {
    vertical-align: middle;
    text-align: center; 
    // background-color: #a6c9cf;
    font-size: $font-normal;
    background-color: #ffffff;  
}
.custom-table-purchase-cs thead tr th {
    vertical-align: middle;

    background-color: #a6c9cf;
}
.custom-table-purchase-cs tbody tr td {
    vertical-align: middle;

}