.bi-shield-check {
    font-size: 50px;
    /* Điều chỉnh kích thước */
    color: #ff4500;
    /* Điều chỉnh màu sắc */
}

.input-group-text i {
    color: #007bff;
    /* Màu xanh dương cho icon */
    font-size: 1.2rem;
    /* Tăng kích thước icon */
}

.shadow-form-email {
    box-shadow: 0px 4px 8px rgba(47, 45, 45, 0.3);
    /* Bóng đổ đậm */
    border-radius: 5px;
    /* Bo góc nhẹ */
}
.btn-custom-orange {
    background-color: rgb(255, 94, 0); /* Màu cam */
    color: white; /* Màu chữ trắng */
    &:hover{
        background-color: rgb(236, 92, 9); /* Màu cam */
        color: white;
    }
}

