@import "../../variables.scss";

.card-container {
    border-radius: $border-radius-medium;
 
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 6px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    /* Thêm hiệu ứng chuyển tiếp cho bóng đổ */

    /* Hiệu ứng bóng đổ */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Bóng nhẹ */

    /* Hiệu ứng khi hover */
    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.003);
        /* Bóng mạnh hơn khi hover */
    }
}


.card-container-size {
    width: 240px;
}


.card-image {
    width: 230px;
    height: 230px;
}

.card-container:hover {
    background-color: $muted-color;
}

.card-image {
    border-radius: $border-radius-medium;

}

.card-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 10px 0 10px;
    gap: 2px;
}

.card-deal {
    height: 18px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.card-span {
    padding: 0 2px 0 2px;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 10px
}

.card-price {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.card-text span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: block;
    height: 3em;
    overflow: hidden;
}

.discount-tag {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    right: 0;
}

.img-container {
    position: relative;
}


@media (max-width: 768px) {
    .card-container-size {
        width: 180px;
    }

    .card-image {
        width: 170px;
        height: 170px;
    }
}