.image-gallery .image-gallery-content {
    /* thẻ video */
    background-color: #f0f0f0 !important;
    padding: 10px !important;

  }
  
  .image-gallery .image-gallery-image {
    /* Thẻ img*/
    background-color: #b01414 !important;
    padding: 10px !important;
    height: auto !important;
  }
//   .image-gallery-content {
//     height: 30vh !important; // Giá trị mặc định
// }
.image-gallery-fullscreen .image-gallery-image,
.image-gallery-fullscreen .image-gallery-content {
   height: 10vh; /* Hoặc chiều cao mong muốn khi ở chế độ fullscreen */
}