@import "../../../variables.scss";

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.checkbox-cart {
  font-size: 18px;
}
/* CSS để thay đổi màu border cho checkbox */
.custom-checkbox .form-check-input:checked {
  border-color: #eb6207;  /* Màu border khi checkbox được chọn */
  background-color: #eb6207;  /* Màu nền khi checkbox được chọn */
}

.custom-checkbox .form-check-input {
  border-color: #eb6207; /* Màu border mặc định */
  transition: border-color 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
}

.custom-checkbox .form-check-input:focus {
  border-color: #eb6207;  /* Màu border khi focus */
  box-shadow: none !important;
}

.btn-buy {
  width: 200px;
  height: 45px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.cart-item h6 {
  font-size: $font-large;
  margin-bottom: 0.5rem;
}

.cart-item p {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.cart-item .badge {
  font-size: 12px;
  padding: 0.2rem 0.5rem;
}

.cart-item .btn-link {
  padding: 0;
}

.cart-item .dropdown-toggle::after {
  display: none;
}

.variant-options {
  position: absolute;
  top: 40px;
  left: 0;
  width: 210%;
  transform-origin: top left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  background-color: rgba(255, 253, 250, 1);
  /* Nhạt hơn một chút */
  font-size: 10px;
  border: none;
}

.variant-options1 {
  position: absolute;
  top: 40px;
  right: 0;
  width: 780%;
  transform-origin: top right;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  background-color:white;
  border:1px solid red;
  /* Nhạt hơn một chút */
  font-size: 10px;

  border-radius: 10px;
}
.attr1-update {
  display: flex;
  flex-wrap: wrap;
}

.btn-check-variant {
  display: flex;
  min-width: 10px;
  margin: 5px;
}

.fixed-footer {
  position: sticky;
  bottom: 0;
  width: calc(100%);
  z-index: 2;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.fixed-header {
  position: sticky;
  top: 80px;
  width: calc(100%);
  z-index: 20;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-similar-cs{
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 13px;

}

@media (max-width: 768px) {
  .variant-options {
    left: -90%;
    width: 195%;
  }
  .variant-options1{
    width: 250%;
    right: -15%;

  }
  .fixed-header{
    top: 60px;
  }
}
