.menu-message-items{
    cursor: pointer;
    position: relative;
    padding: 10px;
    &:hover{
        background-color: rgb(241, 241, 241);
    }
    img{
        border-radius: 50%;
    }
}

.menu-message-active{
    background-color: rgb(235, 105, 35);
    color: white;
}
.count-message{
    position: absolute;
    background-color: red;
    border-radius: 10px;
    border:none;
    min-width: 15px;
    min-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    right: 10px;

}
.search-message{
    background-color: rgba(246, 238, 238, 0.867);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    padding-left: 15px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    input{
        border: none;
        width:  100%;
        background-color: transparent;
        &:focus{
            outline: none;
        }
    }
}
.sender-message-title{
    display:flex;
    border-bottom: 1px solid rgb(219, 215, 215);
    padding: 10px;
    align-items: center;
    gap: 10px;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
  
}
.message-content-container{
    height: 100%;
}
.view-content{
    position: relative;
    height: 100%;
}
.message-content-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer-motion-admin {
    padding: 5px;
    // border: 1px solid red;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgb(204, 181, 181);

    i {
        font-size: 20px;
        cursor: pointer;
        color: rgb(238, 94, 94);
    }

    input {
        padding: 5px;
        
        border: none;
        width: 90%;
        border-bottom: 1px solid rgb(222, 104, 49);
      

        &:focus {
            border-bottom: 1px solid rgb(222, 104, 49);
            outline: none;
        }

    }
}
.message-content-list{
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 15px;
}
.message-text-sender {
    display: flex; // Use flex to control positioning
    flex-direction: column; // Arrange children vertically

    span {
        color: white;
        background-color: rgba(1, 11, 5, 0.785);
        padding: 8px 12px;
        border-radius: 10px 0 10px 10px;
        word-wrap: break-word;
    }

    .img-message-sender {
        width: 70%;
        align-self: flex-end; // Align the image to the end
        background-color: transparent;
    }
}

.message-text-receiver {
    display: flex; // Use flex to control positioning
    flex-direction: column; // Arrange children vertically

    span {
        color: #333;
        background-color: rgba(233, 233, 233, 0.9);
        padding: 8px 12px;
        border-radius: 0 10px 10px 10px;
        word-wrap: break-word;
    }

    .img-message-sender {
        width: 70%;
        align-self: flex-start; // Align the image to the end
        background-color: transparent;
    }
}

/* Tin nhắn của người gửi */
.message-sender {
    align-self: flex-end;
    /* Căn tin nhắn bên phải */
    border-radius: 10px 0 10px 10px;
    max-width: 70%;

}

/* Tin nhắn của người nhận */
.message-receiver {
    align-self: flex-start;
    /* Căn tin nhắn bên trái */
    border-radius: 0 10px 10px 10px;
    max-width: 70%;
}