@import '../../../variables.scss';


.select-search-table-info {
    border: 0.5px solid rgb(212, 197, 197);
    width: 100%;
    display: flex;
    padding-right: 10px;
    padding-left: 5px;
    align-items: center;
    border-radius: $border-radius-small;
    color: rgb(142, 134, 134);

    span {
        color: rgb(142, 134, 134);
    }
}

.select-table-info {
    width: 100%;
    padding: 10px;
    border: none;
    flex: 1;

    &:focus {
        outline: none;
    }
}

.attr {
    // border: 1px solid red;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 0.5px solid rgb(235, 231, 231);
}

.custom-table>:not(caption)>*>* {
    padding: 0;
    &:nth-child(1),
    &:nth-child(2) {
        width: 12%;
    }

    &:nth-child(3),
    &:nth-child(4) {
        width: 25%;
    }
    &:nth-child(5),
    &:nth-child(6) {
        width: 12.5%;
    }
}

.custom-table thead tr th {
    vertical-align: middle;
    height: 50px;
    background-color: #a6c9cf;
}
.custom-table tbody tr td {
    vertical-align: middle;
    height: 50px;
    // background-color: #a6c9cf;
    font-size: $font-normal;
    background-color: #ffffff;  
}
.image-color-cs {
    border: 0.2px solid $primary-color;
    border-radius: $border-radius-small;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}