@import '../../../variables.scss';

.select-search-sale-info {

    position: relative;
    width: 100%;
    display: flex;
    padding-right: 10px;
    padding-left: 5px;
    align-items: center;
    border-radius: $border-radius-small;
    border: 0.5px solid rgb(212, 197, 197);
    color: rgb(142, 134, 134);

    span {
        color: rgb(142, 134, 134);
    }
}

.select-sale-info {
    width: 100%;
    padding: 10px;
    border: none;
    flex: 1;

    &:focus {
        outline: none;
    }
}

.btn-classify {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: $border-radius-small;
    border: 1px dashed $primary-color;
    background-color: white;
    color: $primary-color;
    padding: 10px;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;

    &:hover {
        background-color: rgb(246, 236, 236);
        // color: white;
    }
}

.image-color {
    border: 1px dashed $primary-color;
    margin-right: 10px;
    border-radius: $border-radius-small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-plus-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    /* Lưu ý: đơn vị là px */
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    right: -4px;
    bottom: 3px;
}

.hidden-input {
    display: none;
}

.suggestions {
    position: absolute;
    border: none;
    border-radius: $border-radius-small;
    margin-top: 8px;
    top: 100%;
    width: 100%;
    padding-bottom: 10px;
    padding: 10px;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05),
        /* Bottom shadow */
        0px -4px 8px rgba(0, 0, 0, 0.05),
        /* Top shadow */
        4px 0px 8px rgba(0, 0, 0, 0.05),
        /* Right shadow */
        -4px 0px 8px rgba(0, 0, 0, 0.05);

    /* Left shadow */
    z-index: 1000;
    cursor: pointer;
    background-color: white;

    .ats {
        width: 100%;
        padding: 5px;

        &:hover {
            background-color: #f7f7f7;
        }
    }


}

.btn-save-all-category {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: $border-radius-small;
    background-color: $primary-color;
    color: white;
    font-weight: 500;

    &:hover {
        background-color: rgb(245, 78, 78);
    }

    // Khi nút bị khóa (disabled)
    &:disabled {
        background-color: rgb(239, 123, 123);
        cursor: not-allowed; // Thay đổi con trỏ khi nút bị khóa
    }
}

.equal-height {
    display: flex;
    flex-direction: column;
}

.equal-height>div {
    flex: 1;
    /* Đảm bảo tất cả các div con có chiều cao bằng nhau */
}

.grid-equal-height {
    display: grid;
    grid-auto-rows: 1fr;
    /* Đảm bảo các hàng có chiều cao bằng nhau */
}

.ttt {
    display: flex;
    flex: 1;
    height: 62.8px;
    justify-content: center;
    align-items: center;
    border-top: 0.05px solid rgb(209, 205, 205);
}

.title-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.bd-tb {
    outline: 0.05px solid rgb(209, 205, 205);
    border-bottom: hidden;
}

.product-name-attribute {
    display: inline-block;
    background-color: rgb(203, 38, 38);
    margin-left: 20px;
    padding: 8px;
    padding-right: 15px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(221, 32, 32, 0.3);

}
