@import '../../../variables.scss';

.menu-navbar {
    cursor: pointer;

    &:hover {
        color: $primary-color;
        .menu-child {
            pointer-events: none;
        }
    }
    span:hover {
        color: $primary-color;
        .menu-child {
            pointer-events: none;
        }
    }
    .menu-child {
        pointer-events: all;
    }
}