@import '../../../variables.scss'; // Custom variables
.btn-sc {
    border: 0.2px solid rgb(219, 210, 210);

    &:hover,
    &.selected {
        border: 0.2px solid $primary-color;

        // Khi hover vào nút, hiển thị biểu tượng
        ~.check-sc {
            display: flex;
        }
    }
}

.btn-check-sc {
    position: relative;
    // border: 1px solid red;
     display: inline-block;
     min-width: 70px;
     margin: 8px;
    .check-sc {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $primary-color;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        padding: 1px;
        display: none; // Ẩn biểu tượng mặc định
        justify-content: center;
        align-items: center;

        &.show-icon {
            display: flex;
        }

        .icon-check-size {
            font-size: 6px;
            margin-left: 3px;
        }
    }
}
.blurred {
    opacity: 0.7;
    pointer-events: none; /* Vô hiệu hóa tương tác */
}
@keyframes shadow-pulse {
    0% {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
    50% {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
}
.custom-background-pr-ep{
    background-color: rgba(0, 0, 0, 0.6); /* Màu đỏ nhẹ */
    animation: shadow-pulse 1.5s infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng đổ */
    border-radius: 4px; /* Tùy chọn: thêm góc bo cho div */
    *{
        color: white;
    }
}

