@import "../../../variables.scss";

.search {
    display: flex;
    height: 80px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 0 10px 0 10px;
}

.fixed-search {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: -2px 0 30px 2px rgba(97, 105, 119, 0.18);
}

.search-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid $primary-color;
    border-radius: $border-radius-medium;
    padding: 0 5px 0 15px;
}

.search-center {
    display: flex;
    flex: 1;
    position: relative;
}

.search-input {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: $border-radius-medium;
    outline: none;

}

.search-arround {
    width: 25%;
    display: flex;
    align-items: center;
    color: $primary-color;
    font-size: $font-large;
}

.search-button {
    height: 80%;
    border-radius: $border-radius-medium;
    border: none;
    font-size: $font-medium;
    font-weight: bold;
}

.search-content {
    &:hover {
        background-color: rgb(220, 220, 220);
    };
}

@media (max-width: 768px) {
    .search-arround {
        display: none;
    }

    .search {
        padding: 0 30px 0 30px;
    }

}