.btn-address {
    border: none;

    color: rgb(21, 170, 224);
    font-weight: 500;
    border-radius: 4px;
    background-color: white;
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển động */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-address:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Bóng khi di chuột */
}
.btn-default{
    border: 1px solid rgb(231, 86, 9);
    color: rgb(231, 86, 9);
    font-weight: 500;
    background-color: white;

}
.btn-setting{
    border: none;
    color: rgb(231, 86, 9);
    font-weight: 500;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}