
.custom-table-dashboard thead tr th {
  vertical-align: middle;
  text-align: center;
  height: 50px;
  background-color: #a6c9cf;
}
.custom-table-dashboard tbody tr td {
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  background-color: #ffffff;
}
