.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;

}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  // justify-content: space-between;
  height: 100%; 
  padding: 10px;

}

.h5-ft {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding-left: 0;
  
  li {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.img-ft {
  width: 50px;
  margin-bottom: 10px;
}

.footer-section .d-flex {
  justify-content: center;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  
  p {
    margin-bottom: 5px;
  }
}
