.home-container {
    display: grid;
    gap: 20px
}

.carousel-home {
    border: 1px solid red;
}

.category {
    height: 380px;
    border: 1px solid red;
}

.suggested {
    height: 50px;
    border: 1px solid red;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 10px;
    justify-items: center;
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
    }
}