.home-container {
    display: grid;
    gap: 20px
}

.carousel-home {
    border: 1px solid red;
}

.category {
    height: 380px;
    border: 1px solid red;
}

.suggested {
    height: 50px;
    border: 1px solid red;
}



