.admin-layout {
    position: relative;
    display: flex;
    height: 100vh;
}

.admin-layout-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-admin {
    position: fixed;
    padding-left: 200px;
    width: 100vw;
    height: 60px;
    background-color: #fff;
    z-index: 998;
}

.content-navbar-admin {
    margin-top: 70px;
    margin-left: 200px;
    flex: 1;
}

.navbar-admin {
    position: fixed;
    width: 200px;
    height: 100vh;
    // border-right: 1px solid #f0f0f0;
    z-index: 999;
}

